body {
background-color:#FFFAFA ;
font-family: oswald, sans-serif;
}


header {
    font-family: fantasy;
    font-size:x-large;
    font-weight:500;
}

header h1 { 
    padding-left: 10%;
    color:#34282C; 
    font-size:50px;
    font-weight:500;
}

nav {
    text-align: right;
    color:#34282C;
    right : 50px;
}

#who , #what, #where  {
 
 padding-top: 20px;
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 10px;

}

/* Who Div 1 Styling - Image Box Area */
#intro_image {

    max-width: 33%;
    max-height: 33%;
    height : 400px;
    width : 900px ;
    left : 100px ;
    position: relative;
   
}

/* Who Div 2 Styling - Text Box Area */

#intro_text {
    
    max-height: 90%;
    box-sizing: border-box ;
    height : 400px;
    width : 680px ;
    font-size: 100%;
    letter-spacing: 4px;
    background-color: rgb(241,109,107,0.7);
    top: 200px;
    right: 150px;
    position: absolute;
}

.intro_text_R1 {

    font-family: sans-serif;
    font-style: italic;
    font-weight:600;
    text-align: center;
    
}

.intro_text_R2 {
    font-style:italic;
    font-weight:300;
    color : black; 
    
    text-align:center;
    
    
}

/* Who - Coach Detials and images stlying */

.coach_a{
    display: inline-flex; 
   
}

.coach_b{
    display: inline-flex; 
    padding-top:5%;
   
}

.coach_a>h4,.coach_b>h4 {
    position: relative;  
    Top: 25px;
    Left: 600px;
}

.coach_a > p,.coach_b > p {
    font-style:italic;
    font-weight:100;
    color : #505050; 
    position: relative;  
    text-align:right;
    top:100px; 
    Left: 50px;
    max-width:500px;

}

.coach_a > img {
    width: 350px;
    height: 350px;
    border: 2px solid red;
    border-radius: 50%;
   
}

.coach_b > img {

    padding-top:0%;
    width: 350px;
    height: 350px;
    border: 2px solid red;
    border-radius: 50%;
    position :relative;
    right: 30px; 
}

/* Location Times */

.loco_block {
    display:inline-flex;
}

.time_txt  {
    padding-top:5px;
    font-family: fantasy;
}

.time_list {
position: relative;
top: 5%;
left:50%;
}

#gmaps_block{
    max-width:500px;
    height: 350px;
    position: relative;
    left:50px;
}

.times > h2 {
   font-family: fantasy;
   position:relative;
   left: 130px;
}

#location_text {

    position : relative;
    left: 50px;
    font-family: fantasy;
}

/* Footer Details  */

.social_media{
    text-align: center;
 }

 .social_media > li {
    display: inline;
 }

 .social_media i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #505050;
 } 

footer > p {
    
    text-align: center;
    color:#505050;
    font-size: small;
}

.lesson_text {

    font-style:italic;
    font-weight:100;
    color : #505050; 
    text-align:left;

}



.group > h2 {

    font-family: fantasy;
    font-size:x-large;
    font-style: bold;
    font-weight:1000;
}

.private > h2 {

    font-family: fantasy;
    font-size:x-large;
    font-style: bold;
    font-weight:1000;
}

.semi-private > h2 {

    font-family: fantasy;
    font-size:x-large;
    font-style: bold;
    font-weight:1000;
}


/* Form Styles  */

.formdata{
     border-style: outset;
     border: 2px;
     border-color: black;
}
