body {
background-color:#FFFAFA ;
font-family: oswald, sans-serif;
}


header {
    font-family: fantasy;
    font-size:x-large;
    font-weight:500;
}

header h1 { 
    padding-left: 10%;
    color:#34282C; 
    font-size:50px;
    font-weight:500;
}

nav {
    text-align: right;
    color:#34282C;
    right : 50px;
}

#who , #what, #where  {
 
 padding-top: 20px;
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 10px;

}

/* Who Div 1 Styling - Image Box Area */
#intro_image {

    max-width: 33%;
    max-height: 33%;
    height : 400px;
    width : 900px ;
    left : 100px ;
    position: relative;
   
}

/* Who Div 2 Styling - Text Box Area */

#intro_text {
    
    max-height: 90%;
    box-sizing: border-box ;
    height : 400px;
    width : 680px ;
    font-size: 100%;
    letter-spacing: 4px;
    background-color: rgb(241,109,107,0.7);
    top: 200px;
    right: 150px;
    position: absolute;
}

.intro_text_R1 {

    font-family: sans-serif;
    font-style: italic;
    font-weight:600;
    text-align: center;
    
}

.intro_text_R2 {
    font-style:italic;
    font-weight:300;
    color : black; 
    
    text-align:center;
    
    
}

/* Who - Coach Detials and images stlying */

.coach_a{
    display: inline-flex; 
   
}

.coach_b{
    display: inline-flex; 
    padding-top:5%;
   
}

.coach_a>h4,.coach_b>h4 {
    position: relative;  
    Top: 25px;
    Left: 600px;
}

.coach_a > p,.coach_b > p {
    font-style:italic;
    font-weight:100;
    color : #505050; 
    position: relative;  
    text-align:right;
    top:100px; 
    Left: 50px;
    max-width:500px;

}

.coach_a > img {
    width: 350px;
    height: 350px;
    border: 2px solid red;
    border-radius: 50%;
   
}

.coach_b > img {

    padding-top:0%;
    width: 350px;
    height: 350px;
    border: 2px solid red;
    border-radius: 50%;
    position :relative;
    right: 0px; 
}

/* Location Times */

.loco_block {
    display:inline-flex;
}

.time_txt  {
    padding-top:5px;
    font-family: fantasy;
}

.time_list {
position: relative;
top: 5%;
left:50%;
}

#gmaps_block{
    max-width:500px;
    height: 350px;
    position: relative;
    left:50px;
}

.times > h2 {
   font-family: fantasy;
   position:relative;
   left: 130px;
}

#location_text {

    position : relative;
    left: 50px;
    font-family: fantasy;
}

/* Footer Details  */

.social_media{
    text-align: center;
 }

 .social_media > li {
    display: inline;
 }

 .social_media i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #505050;
 } 

footer > p {
    
    text-align: center;
    color:#505050;
    font-size: small;
}


/* Lesson Styles  */


.private_span > img {
    
   
   max-width: 33%;
   max-height: 33%;
   display: inline-block;
   position: relative;   
   max-height: 500px;
   width: 500px;
   padding:2%;

  
}

.private {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(23, 114, 23);
    background-color: rgb(45, 186, 41, 0.25);
    border-radius: 5%;
    
}

.private >h2 {
position: relative;
left: 180px;
font-family: fantasy;
font-size:x-large;
font-style: bold;
font-weight:1000;
}

.private_span > p {

    font-style:italic;
    font-weight:200;
    color : #505050; 
    text-align:left;
    max-width:33%;
    display: inline-block;
    position: relative;
    padding:5%;
    bottom: 110px;
   
;


}


.semi-private_span > img {
    
   
    max-width: 33%;
    max-height: 50%;
    display: inline-block;
    position: relative;   
    max-height: 500px;
    width: 500px;
    padding:2%;
   
 }
 
 .semi-private {
     border-style: solid;
     border-width: 2px;
     border-color: rgb(105, 105, 105);
     background-color: rgb(233, 233, 233);
     border-radius: 5%;
 }
 
 .semi-private >h2 {

  font-family: fantasy;
  font-size:x-large;
  font-style: bold;
  font-weight:1000;
  position: relative;
  left: 180px;
 }
 
 .semi-private_span > p {
 
     font-style:italic;
     font-weight:200;
     color : #505050; 
     text-align:left;
     max-width:33%;
     display: inline-block;
     padding:5%;
     position: relative;
     bottom: 110px;
 
    
 
 }

 .group_span > img {
   
    max-width: 33%;
    max-height: 50%;
    display: inline-block;
    position: relative;   
    max-height: 500px;
    width: 500px;
    padding:2%;
   
 }
 
 .group {
     border-style: solid;
     border-width: 2px;
     border-color: rgb(205, 117, 2);
     background-color: rgb(202, 151, 56);
     border-radius: 5%;
 }
 
 .group >h2 {

    font-family: fantasy;
    font-size:x-large;
    font-style: bold;
  font-weight:1000;
  position: relative;
  left: 180px;
 }
 
 .group_span > p {
 
     font-style:italic,bold;
     font-weight:200;
     color : #3b3a3a; 
     text-align:left;
     max-width:33%;
     display: inline-block;
     padding:5%;
     position: relative;
     bottom: 110px;
 
 
 }

 .lesson_section > div {

    padding:5%;
 }


/* Form Styles  */

.formdata{
     border-style: outset;
     border: 2px;
     border-color: black;
}



 #form-container {
       
        background-image: url("../../assets/Images/sign-up.jpeg");
        background-color: #cccccc;
        height: 800px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; 
        text-align: center;
      }

#form-container > h3 {

    Max-width : 50%;
    font-family: fantasy, sans-serif;
    color: #FFFAFA;
    position: relative;
    text-align: center;
    
     
}

 fieldset {
        border: 0;
        Max-width : 50%;
        font-family: fantasy, sans-serif;
        color: #FFFAFA;
        position: relative;
        text-align: center;
        left:340px
    }

.form_a > label {

    Max-width : 50%;
    font-family: fantasy, sans-serif;
    color: #FFFAFA;
    position: relative;
    text-align: center;
    Top:20%;
    
}

.form_a >input {

    position: relative;
    text-align: left;
    Top:20%;


}

.form {
    position: relative;
    text-align: left;
    Top:20%;

}

#signup-intro{

    max-width:50%;
    
    font-family: fantasy, sans-serif;
    color: #FFFAFA;
    position: relative;
    text-align: center;
    left:25%;
    top:2%;
  
}

fieldset > H3 {

    text-align: center;
    
}